@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");

body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    user-select: none;
}
.jud-besar{
    text-align: center;
    margin: 20px;
}
.bg-img{
    background: url(pantai.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(219, 205, 205, 0.746);
}
.content{
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.174);

    border: 1px solid #fff;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
}
.content header{
    color: rgb(6, 34, 247);
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "Mountserrat", sans-serif;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.space{
    margin-top: 16px;
}
.spacex{
    margin-top: 75px;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
.pass-key:valid ~ .show {
    display: block;
}
.pass{
    text-align: center;
    margin: 10px 0;
}
.pass a {
    color: rgb(18, 17, 17);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.pass:hover a {
    text-decoration: underline;
}
.reg{
    text-align: center;
    margin: 10px 0;
}
.reg a{
    color: rgb(11, 11, 11);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.reg:hover a{
    text-decoration: underline;
}
.field input[type = "submit"]{
    background: #13e8c8;
    border: 1px solid #91fbeb;
    color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: .3s ease;
}
.field input[type="submit"]:hover{
    background-color: rgb(0, 60, 255);
}
.login{
    color: white;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
}
i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.field label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-bottom: 16px;
}

select:focus {
    outline: none;
    box-shadow: 0 0 8px 0 #0071b3;
}
.KotakLaman{
    border: 1px solid black;
    position: relative;
    width: 100%;
    background: linear-gradient(to top left, #00fffb 0%, #0088ff 100%);
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.Namaakun{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 20px;
}
.KotakLaman img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 30px;
}
.teks {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.deskripsi {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-left: 10px;
}
.tomboldon{
    text-align: right;
}
.tomboldon button{
    background-color: #fffb00; 
    color: #000000;
    border: none;
    padding: 10px 20px; 
    font-size: 16px; 
    position: relative; 
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 20px;
    margin-top: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.kotak {
    width: 30%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.kotak1 {
    margin-left: 20px;
    border: 1px solid black;
}

.kotak2 {
    border: 1px solid black;
}

.kotak3 {
    border: 1px solid black;
    margin-right: 20px;
}
.kotak img{
    width: 100%;
    height: 100%;
}
